
html{
  background-image: url("https://wallpaperaccess.com/full/130220.jpg")
}
#home-page{
  color: white;
}
#about-page{
  color: white;
}
#connect-wallet{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
  min-height: 10vh;
  min-width: 100vh;
  font-size: xx-large;
}
#root{
  background-image: url("https://wallpaperaccess.com/full/130220.jpg")
}
#text{
  color: white;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #273043;
  position:fixed;
  left:0;
  top:0;
  right:0;
  text-align:right;
  border-radius: 25px;
  border: 2px solid #5e2f2f;
  justify-content: space-around;
  
}
/* Navbar links */
#navbar a {
  float: center;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 280px;
  font-size: x-large;
  text-shadow:
  0 0 5px rgb(243, 7, 7),
  0 0 10px rgb(246, 5, 5),
  0 0 20px rgb(207, 1, 1),
  0 0 40px rgb(174, 4, 4),
  0 0 80px rgb(180, 16, 16),
  0 0 90px rgb(172, 4, 4),
  0 0 100px rgb(107, 4, 4),
  0 0 150px rgb(87, 2, 2);
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.neon-title-app {
  font-size: xx-large;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    
}


.main-app {
    text-align: center;
    margin: 100px;
}
